<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - doggo</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="border-bottom box-shadow">
            <div class="container">
                <div>
                    <ul id="controller">
                        <li>
                            <a asp-area="" asp-controller="Login"
                                asp-action="Index">Login</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Register"
                                asp-action="Index">Register</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Crud"
                                asp-action="Index">User</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Logout"
                                asp-action="Index">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
<script>
    const freePath = ["/", "/login", "/register"]
    const freeNav = ["Login", "Register"]
    let cookies = document.cookie.split('; ').reduce((acc, cur) => {
        let tmp = {}
        tmp[cur.split('=')[0]] = cur.split('=')[1]
        return { ...tmp, ...acc }
    }, {})
    let token = cookies.jwt
    if (token && freePath.includes(window.location.pathname.toLowerCase())) {
        window.location.replace('/crud')
    } else if(!token && !freePath.includes(window.location.pathname.toLowerCase())){
        window.location.replace('/')
    }

    if(!freePath.includes(window.location.pathname.toLowerCase())){
        let childs = document.getElementById('controller').children
        for (i = 0; i < childs.length; i++) {
            let child = childs[i]
            let target = child.children[0]
            if(freeNav.includes(target.innerHTML)){
                child.style.display = "None"
            }

        }
    } else {
        let childs = document.getElementById('controller').children
        for (i = 0; i < childs.length; i++) {
            let child = childs[i]
            let target = child.children[0]
            if(!freeNav.includes(target.innerHTML)){
                child.style.display = "None"
            }

        }
    }
</script>
</html>