@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - doggo</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="border-bottom box-shadow">
            <div class="container">
                <div>
                    @(User.FindFirst(ClaimTypes.Name)?.Value)
                    <ul id="controller">
                        @if(!User.Identity.IsAuthenticated){
                            <li>
                                <a asp-area="" asp-controller="Account"
                                    asp-action="Login">Login</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Account"
                                    asp-action="Register">Register</a>
                            </li>
                        } else {
                            <li>
                                <a asp-area="" asp-controller="Home"
                                    asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Account"
                                    asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>