@model doggo.Models.ChangePasswordView
@{
    ViewData["Title"] = "Change Password";
}
<div class="content">
    <div class="head">เปลี่ยนรหัสผ่าน</div>
    <form asp-action="ChangePassword">
        @if(ViewData["Success"] != null){
            <div class="text-success"><li>@ViewData["Success"]</li></div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>รหัสผ่านปัจจุบัน</label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>รหัสผ่านใหม่</label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>ยืนยันรหัสผ่านใหม่</label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="เปลี่ยนรหัสผ่าน" class="btn btn-primary">
        </div>
    </form>
    <div></div>
</div>