.content {
    display: flex;
    flex-flow: row nowrap;
}

.container{
    display: flex;
    flex-flow: row nowrap;
}

.graphic{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.graphic>.bar {
    width: 100%;
    flex: 1;
}
.graphic>.bar:nth-child(1) {
    background: #FFFFFF;
    z-index: 2;
}
.graphic>.bar:nth-child(2) {
    background: #F0F0F0;
    z-index: 1;
}
.graphic>.bar:nth-child(3) {
    background: #DBD9D9;
    z-index: 2;
}
.graphic>.bar:nth-child(4) {
    background: #C4C4C4;
    z-index: 1;
}

.content>.right{
    width: 546px;
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content>.right>.head{
    width: 374px;
    font-weight: 500;
    font-size: 28px;
}

.content>.right>.head::after {
    content: "";
    height: 90%;
    display: inline-block;
}

.content>.right>div{
    flex: 1;
}

.logo{
    position: fixed;
    top: 50%;
    width: calc(1280px - 546px);
    transform: translateY(-50%);
    font-size: 80px;
    text-align: center;
    z-index: 3;
}

.year{
    position: fixed;
    top: 100%;
    width: 1247px;
    transform: translateY(-100%);
    font-size: 72px;
    line-height: 109px;
    text-align: right;
    color: #bab9b986;
    padding-right: 33px;
    z-index: 3;
}

.system, .subject{
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    padding-left: 20px;
}
.system{
    color: #7D7D7D;
}

.system.blur{
    color: rgba(210, 210, 210, 0.3);
}

.system::after {
    content: "";
    height: 100%;
    display: inline-block;
}

.subject{
    color: #616161;
}

.subject.blur{
    color: rgba(141, 141, 141, 0.16);
}

.subject::after {
    content: "";
    height: 100%;
    display: inline-block;
}

#sp{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: start;
}

.flip{
    transform: scaleY(-1);
    color: rgba(141, 141, 141, 0.16);
}


form{
    flex: 2;
    width: 374px;
    color: #000000;
}

.form-group{
    padding-top: 15px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 5px;
}

.alternative-form-group{
    width: 374px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.alternative-form-group>.form-group{
    width: 49%;
}


.form-group>input{
    background: #F0F0F0;
    border-radius: 8px;
    min-height: 36px;
    height: 5vh;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
}

.form-group>input:nth-last-child(1){
    margin-top: 20px;
    background: #414141;
    color: #FFFFFF;
}

.form-group>input:nth-last-child(1):hover{
    font-size: 16px;
    cursor: pointer;
}

.form-group>input:focus{
    outline: none;
}

.form-group>label{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.text-danger{
    color: rgb(240, 0, 0);
}