.head{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


.info{
    width: 100%;
    height: 110px;
    background: #FCFCFC;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px
}

.info{
    display: flex;
    flex-flow: row nowrap;
}

.info-content{
    font-size: 16px;
    width: 345px;
    height: 100%;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
}

.right-area{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.img-wrapper{
    width: 120px;
    height: 100%;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-area a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.1s;
    width: 140px;
    height: 28px;
    background: #414141;
    border-radius: 10px;
    color: #FFFFFF;
}

.right-area a:hover{
    font-size: 15px;
}

.info-content .left{
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.info-content .right{
    text-align: right;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.left-filler{
    color: #FCFCFC;
    opacity: 0;
    cursor: default;
}

.info-content .right .right-child{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.info-content .right .right-child span:nth-child(1){
    font-size: 14px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.info-content .right .right-child span:nth-child(2){
    width: 50px;
    font-weight: 500;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.left-child{
    font-weight: 500;
}

.list{
    width: 100%;
    height: calc(100% - 185px);
    background: #FCFCFC;
    border: 0.5px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-flow: column;
}

.list-action{
    height: 26px;
    width: calc(100% - 20px);
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.table-wrapper{
    width: 100%;
    height: 100%;
    
    overflow-y: auto;
    overflow-x: hidden;
}

table{
    width: 100%;
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    background: #FCFCFC;
}

table thead th {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #DBDBDB;
}

table thead th:nth-child(1) {
    width: 10%;
}
table thead th:nth-child(2) {
    width: 20%;
}
table thead th:nth-child(3) {
    width: 20%;
}
table thead th:nth-child(4) {
    width: 20%;
}
table thead th:nth-child(5) {
    width: 30%;
}

table tbody tr:hover td{
    font-size: 16px;
    background: rgb(245, 245, 245);
}

table td{
    padding: 10px;
    background: #fff;
    /* border-top: 0.5px solid #D1D1D1; */
    border-bottom: 0.5px solid #D1D1D1;
    text-align: center;
    transition: all 0.1s;
}

table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

.table-wrapper::-webkit-scrollbar {
    width: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
    border-radius: 20px;
}

/* .table-wrapper::-webkit-scrollbar-track:hover {
} */

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.add-btn, .remove-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.1s;
    width: 117px;
    height: 26px;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    border: none;
    outline: none;
    margin: 0;
    display: block;
}

.add-btn:hover{
    background: #bcd651;
    cursor: pointer;
}

.remove-btn:hover{
    background: #ffa857;
    cursor: pointer;
}

.remove-btn{
    background: #F9C28F;
    border-radius: 0px 10px 10px 0px;
}

.add-btn{
    background: #CADD7D;
    border-radius: 10px 0px 0px 10px;
}

#Val{
    display: block;
    margin: 0;
    border: 0;
    outline: none;
    width: 117px;
    height: 26px;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    /* background: #DBDBDB; */
    background: #414141;
    color: #FFFFFF;
    font-weight: 500;
    padding: 0;
    text-align: center;
}
/* Chrome, Safari, Edge, Opera */
#Val::-webkit-outer-spin-button,
#Val::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#Val[type=number] {
    -moz-appearance: textfield;
}

#Val::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 400;
}
  
#Val:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 400;
}
  
#Val::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 400;
}

form{
    display: flex;
    flex-flow: row;
}